In [2]:
print("HelloWorld")

HelloWorld

In [17]:
num1=10
num2=20.89
name="Mind_Sprint"

print("Number1: ",num1)
print(f"Number2 {num2}")
print("Name: ",name)

print(type(num1))
print(type(num2))
print(type(name))

Number1:  10
Number2 20.89
Name:  Mind_Sprint
<class 'int'>
<class 'float'>
<class 'str'>

In [5]:
x=y=z="Orange"
print(x,y,z)

Orange Orange Orange

In [14]:
x,y,z= "Orange", "Banana", "Cherry"
print(x,y,z)

Orange Banana Cherry

In [11]:
fruits=["apple","Banana","Cherry"]
x,y,z=fruits
print(x,y,z)
print(x)
print(x+y+z)

apple Banana Cherry
apple
appleBananaCherry

In [15]:
## value Assignment to variables
x,y,z = "test1","test2","test3"
print(x," ",y," ",z)

test1   test2   test3

In [19]:
## Taking input from user
num1 = input("Enter First Number")
num2 = input("Enter The Second Number")

print("Additional :", (int(num1)+ int(num2)))

Enter First Number 10
Enter The Second Number 40

Additional : 50

In [23]:
num1 = input("Enter First Number")
num2 = input("Enter The Second Number")

print("Additional :", (int(num1)+ int(num2)))

Enter First Number 10
Enter The Second Number 40

Additional : 50

In [27]:
num1 = 10
num2 = 3

addition = num1+num2
print("Addition:" ,addition)

subtraction = num1 - num2
print("subtraction: ", subtraction)

multiplication = num1 * num2
print("Multiplication: ", multiplication)

division = num1 / num2
print("Division: ",division)

modulus = num1 % num2
print("Modulus:", modulus)

exponentiation = num1 ** num2
print("Exponentiation:", exponentiation)

float_division =num1 // num2
print("flor division: ",float_division)

print("Is num1 equals to num2?", num1 == num2)

print("Is num1 not equal to num2?", num1 != num2)

print("Is num1 greater than num2?" , num1 > num2)

print("Is num1 less than num2?", num1 < num2)

Addition: 13
subtraction:  7
Multiplication:  30
Division:  3.3333333333333335
Modulus: 1
Exponentiation: 1000
flor division:  3
Is num1 equals to num2? False
Is num1 not equal to num2? True
Is num1 greater than num2? True
Is num1 less than num2? False

In [28]:
num = 10
print('initial value:', num)

num+=5
print('After Increment: ', num)

num-=3
print('After Decrement: ',num)

num*=2
print('After Multiplication: ', num)

initial value: 10
After Increment:  15
After Decrement:  12
After Multiplication:  24

In [30]:
email=input("enter yout email")
password=input("enter your password")
print(email=='admin@gmail.com' and password=='admin@123')

enter yout email admin@gmail.com
enter your password admin@123

True

In [31]:
num = 10
if num>0:
    print("Postive Number")

Postive Number

In [34]:
num = -5
if num > 0:
    print("Postive Number")
else:
    print("Negative Number")

Negative Number

In [42]:
age = int(input("Enter The age"))
if age > 18:
    print("It is eglible for vote")
else :
    print("it is not eglible for vote")

Enter The age 14

it is not eglible for vote

In [43]:
# Nested if
num=15
if num>0:
    if num % 2== 0:
        print("Positive and even number")
    else:
        print("positive and odd number")
else:
    print("Non Positive Number")

positive and odd number

In [46]:
num = 5
if num > 0:
    pass
else:
    print("This won't execute")

In [53]:
marks = int(input("enter the marks"))
if marks >= 90 and marks <=100:
    print("This is distinct marks")
elif marks >=70 and marks<=89:
    print ("Grade B")
elif marks >=50 and marks<=69:
    print("Grade C")
else:
    print("Fail")

enter the marks 100

This is distinct marks

In [66]:
number = int(input("Enter the number"))
if number>0:
    if number %2==0:
             print("It is Even Number")
    else:
        print("It is odd Number")
elif number==0:
             print("It is Zero")
else:
    print("it is negative number")

Enter the number 4

It is Even Number

In [73]:
mrp = int(input('total mrp'))
discount = 0
if mrp>=500:
    discount=20
elif mrp>=200 and mrp<500:
    discount = 10
discount_price = mrp*discount/100
final_amount = mrp-discount_price
print('Total Discount Given ', discount, '%')
print('you saved', discount_price)
print('final amount', final_amount)

total mrp 5000

Total Discount Given  20 %
you saved 1000.0
final amount 4000.0

In [ ]:
count = 1
while count <= 5:
    print("Count:" ,count)
    count +=1

In [ ]:
for num in range(1,6):
    print("Number:", num)

In [2]:
count = 0
while count < 5:
    if count ==3:
        print("Breaking at count =", count)
        break
    print("count is", count)
    count +=1

count is 0
count is 1
count is 2
Breaking at count = 3

In [1]:
for num in range(1,11):
    if num ==5:
        print("Breaking at number:",num)
        break
    print("Number:",num)

Number: 1
Number: 2
Number: 3
Number: 4
Breaking at number: 5

In [5]:
num1 = int(input("Enter The Number"))
num2 = int(input("Enter The second number"))
sum1=0
for num in range(num1,num2+1):
    if num%2==0:
        sum1 = sum1+num
print(sum1)

Enter The Number 2
Enter The second number 5

6

In [7]:
for i in range(1,7):
    for j in range(1,i):
        print(j, end= " ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [9]:
def hello():
    print("HelloWorld")
hello()

HelloWorld

In [10]:
def greet(name):
    print("Good Noon: ",name)
greet("Lokesh")

Good Noon:  Lokesh

In [11]:
def multiply_number(a,b):
    return a*b
result = multiply_number(4,5)
print("The Product is : ",result)

The Product is :  20

In [12]:
def greet(name="Guest"):
    print(f"Hello,{name}!")
greet("Loki")
greet()

Hello,Loki!
Hello,Guest!

In [13]:
def add_numbers(a,b):
    result=a+b
    print(f"The Sum of {a} and {b} is {result}")
 
add_numbers(5,3)

The Sum of 5 and 3 is 8

In [14]:
def factorial(n):
    if n == 1:
        return 1
    else:
        return n * factorial(n -1)

result = factorial(5)
print("Factorial of 5 is:", result)

Factorial of 5 is: 120

In [16]:
# Passing arguments using keywords
def describe_person(name,age,city):
    print(f"{name} is {age} years old and lives in {city}.")
# calling using keyword arguments
describe_person(age=20,city="Naidupeta" ,name="Lokesh")

Lokesh is 20 years old and lives in Naidupeta.

In [23]:
email=input("enter yout email")
password=input("enter your password")
def login(email,password):
    if email=='admin@gmail.com' and password=='admin@123':
        print("Login")
    else:
        print("invalid")
login(email,password)

enter yout email admin@gmail.com
enter your password admin@123

Login

In [15]:
#List
mylist = [10,20,30,40]
print(mylist)
print(mylist[2])
mylist.append(60)
print(mylist)
#insert element at some index
mylist.insert(2,25)
print(mylist)
#Data Removal
data=mylist.pop() ## its removing last element which you save in some variable
print(data, "Removed")
print(len(mylist)) # checking Length
print("Minimum Value", min(mylist))
print("Maximum Value", max(mylist))
print("Sum is : ", sum(mylist))

[10, 20, 30, 40]
30
[10, 20, 30, 40, 60]
[10, 20, 25, 30, 40, 60]
60 Removed
5
Minimum Value 10
Maximum Value 40
Sum is :  125

In [1]:
mydata=[1,2,3,4,5,6,7,8,9]
for num in mydata:
    print(num)

i=0
while i<len(mydata):
    print(mydata[i])
    i+=1

1
2
3
4
5
6
7
8
9
1
2
3
4
5
6
7
8
9

In [2]:
mydata.sort(reverse=True)
print(mydata)

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [3]:
mydata.reverse()
print(mydata)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [13]:
copy_numbers = mydata.copy()
print(copy_numbers)
squares = [x ** 2 for x in range(1,6)]
print(squares)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 4, 9, 16, 25]

In [22]:
#creating tuple 
name=('alex','bob','catty','devid')
print(name)

mixed=('test',True,78,3.14,[2,3,4])
print(mixed)

#Empty tuple
empty_tup=()
print(empty_tup)
#tupe with single value
data = ('hell',) #, is mandatory
print(data)
print(type(data))

print('Access values',name[1])
print('Access values',name[-1])
print('Access values',name[0:3])
name = list(name)
print(name)
name.append('ella')
name = tuple(name)
print(name)

('alex', 'bob', 'catty', 'devid')
('test', True, 78, 3.14, [2, 3, 4])
()
('hell',)
<class 'tuple'>
Access values bob
Access values devid
Access values ('alex', 'bob', 'catty')
['alex', 'bob', 'catty', 'devid']
('alex', 'bob', 'catty', 'devid', 'ella')

In [19]:
number_tuple = (10,20,30)
number_list = list(number_tuple)

number_list.append(40)

numbers_tuple = tuple(number_list)
print(number_tuple)

(10, 20, 30)

In [23]:
tuple1=(1,2,3)
tuple2=(4,5,6)
concat= tuple1+tuple2
print(concat)
new_tuple=('temp',)*4
print(new_tuple)

(1, 2, 3, 4, 5, 6)
('temp', 'temp', 'temp', 'temp')

In [25]:
list=[1,2,3,4,5,6,8]
print(list.count(3))
 
print(list.index(3))

1
2

In [36]:
# Employee Dictionary
 
employee={

    "eid":1001,

    "name":"john Doe",

    "department":"I.T",

    "Salary":45678

}

print(employee)

print('Employee Id' ,employee['eid'])

print('Employee Name:' , employee.get('name'))

{'eid': 1001, 'name': 'john Doe', 'department': 'I.T', 'Salary': 45678}
Employee Id 1001
Employee Name: john Doe

In [38]:
print('Manager:',employee.get('manager'))
print('Manager:',employee.get('Manager',"Chandana"))

Manager: None
Manager: Chandana

In [28]:
data=employee.popitem()

print(data,'removed')

print(employee)

('Salary', 45678) removed
{'eid': 1001, 'name': 'john Doe', 'department': 'I.T'}

In [40]:

data = employee.pop('Salary')
print(data, 'removed')
print(employee)

45678 removed
{'eid': 1001, 'name': 'john Doe', 'department': 'I.T'}

In [45]:
student={
    "id":1,
    "name":"alex",
    "email":"alex@gmail.com",
    "address":"us"
}
print(student)

for key in student:
    print(key,": ",student[key])

{'id': 1, 'name': 'alex', 'email': 'alex@gmail.com', 'address': 'us'}
id :  1
name :  alex
email :  alex@gmail.com
address :  us

In [48]:
print(student.items())
for key,value in student.items():
    print(key,":",value)

dict_items([('id', 1), ('name', 'alex'), ('email', 'alex@gmail.com'), ('address', 'us')])
id : 1
name : alex
email : alex@gmail.com
address : us

In [49]:
if "address" in student:

    print("address is present in student object")

address is present in student object

In [52]:
myset = {404, 200, 500, 302, 403, 500}
print(myset)

{403, 404, 500, 200, 302}

In [53]:
for num in myset:

    print(num)

403
404
500
200
302

In [54]:
myset.add(501)

print(myset)
 
# adding multiple values

myset.update([303,402])

print(myset)

{403, 404, 500, 501, 200, 302}
{402, 403, 404, 500, 501, 200, 302, 303}

In [55]:
# Removal of elements

myset.remove(303)

print(myset)

{402, 403, 404, 500, 501, 200, 302}

In [56]:
myset.clear()
print(myset)

set()

In [57]:
myset.discard(303)
print(myset)
myset.pop()
print(myset)

set()

KeyError: 'pop from an empty set'

In [58]:
if len(myset)>0:
    myset.pop()
else:
    print('set is empty')

set is empty

In [60]:
myset.update([1,2,3,4,5])
print(myset)

{1, 2, 3, 4, 5}

In [61]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}

print(A | B)
print(A.union(B))

print(A & B)
print(A.intersection(B))

print(A -B)
print(A.difference(B))

print(A ^ B)
print(A.symmetric_difference(B))

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{4, 5}
{1, 2, 3}
{1, 2, 3}
{1, 2, 3, 6, 7, 8}
{1, 2, 3, 6, 7, 8}

In [69]:
employees = {
    "Alice": 70000,
    "Bob": 80000,
    "Charlie": 75000

}
print(employees)
# add new employee
employees["David"] = 85000

#update employee

employees["Alice"] = 72000


del employees["Charlie"]

for name, salary in employees.items():

    print(f"Employee: {name}, Salary: {salary}")
    print(employees)

{'Alice': 70000, 'Bob': 80000, 'Charlie': 75000}
Employee: Alice, Salary: 72000
{'Alice': 72000, 'Bob': 80000, 'David': 85000}
Employee: Bob, Salary: 80000
{'Alice': 72000, 'Bob': 80000, 'David': 85000}
Employee: David, Salary: 85000
{'Alice': 72000, 'Bob': 80000, 'David': 85000}

In [79]:
employees=


def add_employee(id,name,department,salary):
    n=len(employees)
    employees[f'emp{n+1}']={"id:id

    def print_employee(emp

----------------------
('id', 3)   us
('name', 'catty')   us
('department', 'hr')   us
('Salary', 70000)   us

Alice: 72000
Bob: 80000
David: 85000